@use "../main";

header {
  background: #ffffff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 16;
  top: 0;
  position: fixed;
  padding: 16px 0;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .right {
      img {
        max-width: 40px;
      }
    }
    .dropdown {
      display: none;
      top: 80px;
      left: 0;
      width: 100%;
      position: absolute;
      background: #ffffff;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
      .drob1 {
        display: flex;
        justify-content: space-between;

        ul {
          padding-bottom: 10px;
        }
        li {
          padding-top: 16px;

          a {
            padding-top: 24px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            color: #414141;
            transition: 0.5s;

            &:hover {
              color: #ff6633;
            }
          }
        }
      }
    }

    .buttton {
      display: flex;
      align-items: center;
      gap: 20px;
      background: #70c05b;
      border-radius: 4px;
      padding: 8px 16px;
      .a1 {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #ffffff;
      }
    }
    .toggl {
      button {
        border: none;
        background-color: transparent;
      }
      i {
        color: white;
        font-size: 25px;
        width: 88px;
      }
    }

    .like {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
    }

    .like2 {
      img {
        margin-left: 15px;
      }
    }
    .like1 {
      img {
        margin-left: 22px;
      }

      p {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #414141;
      }
    }

    .like3 {
      display: flex;
      align-items: center;
      flex-direction: column;

      justify-content: center;

      p {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #414141;
      }

      img {
        max-width: 20px;
        margin-left: 5px;
      }
    }

    .like2 {
      p {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #414141;
      }
    }

    .like4 {
      .modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(252, 213, 186, 0.8);
        opacity: 0;
        z-index: -1 !important;
        transition: 0.5s;
        display: none;
      }

      .modal-show {
        z-index: 9999;
        opacity: 1;
        display: block;
      }

      .modal-content {
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        margin: auto;
        padding: 30px;
        max-width: 500px;
        background-color: white;
        color: black;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        label {
          display: block;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #8f8f8f;
        }
        input {
          display: block;
          background: #ffffff;
          padding: 12px;
          margin-bottom: 32px;
          border: 1px solid #70c05b;

          box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
          border-radius: 4px;
        }

        .close {
          border: 1px solid #fcd5ba;
          padding: 16px;
          text-align: center;
          width: 260px;
          color: #ff6633;
          background: #fcd5ba;
          border-radius: 4px;
          margin-bottom: 36px;
        }

        .left-right {
          display: flex;
          gap: 20px;
          .link {
            background: #ffffff;
            border: 1px solid #70c05b;
            padding: 12px;
            width: 120px;
            border-radius: 4px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            transition: 0.5s;
            color: #606060;
            &:hover {
              box-shadow: 8px 16px 32px rgba(255, 102, 51, 0.2);
              color: #70c05b;
            }
          }
        }
      }

      .modal-content h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        padding-bottom: 32px;
        color: #414141;
        margin-top: 60px;
      }

      .close-modal {
        position: absolute;
        top: -15px;
        right: 5px;
        margin-top: 20px;
        i {
          color: #414141;
          font-size: 18px;
        }
      }

      .modal-content-show {
        top: 200px;
      }

      .btn1 {
        display: flex;

        align-items: center;
        background: transparent;
        border: none;
        i {
          margin-left: 5px;
        }
      }
    }

    

    .input {
      .input1 {
        max-width: 100%;
        width: 380px;
        input {
          max-width: 100%;
          width: 374px;
          padding: 8px 16px;
          border: 1px solid #70c05b;
          border-radius: 4px;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 14px;
      a {
        color: #414141;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }
}

.d-blok {
  display: block !important;
}
// home section

#home {
  margin-top: 70px;
  // padding-top: 80px;
  background-image: url(../../images/home.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .home-row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 150%;
      color: #414141;
      max-width: 751px;
    }

    img {
      width: 100%;
      width: 300px;
      height: 200px;
    }
  }
}

// about

#about {
  background: #fbf8ec;
  padding-bottom: 30px;

  .content {
    display: flex;
    padding-top: 76px;
    padding-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 150%;
      color: #414141;
    }

    a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #606060;
    }
  }

  .popular-card1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .popular-card {
      background: #ffffff;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      max-width: 272px;
      margin-bottom: 10px;
    }

    .popular-card-footer {
      margin: 8px;
      display: flex;
      justify-content: space-between;
    }

    .popular-card-footer1 {
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        max-width: 256px;
        color: #414141;
        margin: 8px;
      }
    }

    .btn {
      display: flex;
      justify-content: center;
      width: 256px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      background-color: transparent;
      border: 1px solid #70c05b;
      border-radius: 4px;
      padding: 8px;
      margin: 8px;
      color: #70c05b;
      transition: 0.5s;
      &:hover {
        background: #ff6633 !important;
        border-radius: 4px;
        color: #ffffff;
        border: 1px solid #ff6633;
      }
    }
  }
}

// --

#hero {
  background: #fbf8ec;
  padding-bottom: 30px;
  .hero-top {
    h1 {
      padding-top: 80px;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 150%;
      color: #414141;
    }

    .popular-card1 {
      margin-top: 40px;
      display: flex;
      // justify-content: space-between;
      align-items: center;
      gap: 40px;

      .popular-card {
        display: flex;
        padding: 30px;
        background: #fcd5ba;
        box-shadow: 0px 8px 16px rgba(202, 147, 96, 0.5);
        border-radius: 4px;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
          background: #e5ffde;
          border-radius: 4px;
        }

        h3 {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 150%;
          max-width: 258px;
          color: #414141;
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          margin-top: 6px;
          color: #414141;
        }
      }
    }
  }
}

#map {
  background: #fbf8ec;
  padding-bottom: 30px;

  .btn {
    margin-bottom: 24px;
    button {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      padding: 4px 8px;
      color: #606060;
      border: none;
      margin: 0px 12px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }

  .active {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #ffffff;
    background-color: #70c05b;
  }
}

#status {
  background: #fbf8ec;
  padding-bottom: 80px;
  padding-top: 120px;
  .popular-card1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;

    gap: 40px;

    .popular-card {
      background: #ffffff;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 4px;

      .btn {
        margin: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        padding: 8px 16px;
        background: #e5ffde;
        border-radius: 4px;
        color: #70c05b;
        border: none;
        transition: 0.5s;
        &:hover {
          background: #70c05b;
          border-radius: 4px;
          color: #ffffff;
        }
      }
    }
    .popular-card-body {
      img {
        width: 100%;
      }
    }

    .popular-card-footer {
      // background-color: white;
      padding: 10px;

      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        max-width: 350px;
        color: #414141;
      }
    }

    .popular-card-footer1 {
      // background-color: white;
      padding: 10px;
      p {
        margin-top: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        max-width: 356px;
        color: #414141;
      }
    }
  }

  .map-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 150%;
      color: #414141;
    }

    a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #606060;
    }
  }
}

footer {
  background-image: url(../../images/footer.png);
  background-color: #f9f4e2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  padding-top: 37px;
  .footer-end {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #414141;
    }
  }
  .footer-row {
    display: flex;
    justify-content: space-between;

    gap: 175px;
    .left {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 40px;
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #414141;
      }
    }
  }
}

@media (max-width: 1200px) {
  .popular-card1 {
    grid-template-columns: repeat(3, 1fr) !important;
    text-align: center !important;
  }
}

@media (max-width: 1105px) {
  .buttton {
    display: none !important;
  }
  .input{
    width: 100% !important;
  }

  .like {
    position: fixed !important;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: -1px;
    padding: 5px;
    background-color: white;
    width: 100%;
    // display: none !important;
  }
  .input1 {
    width: 100% !important;
    input {
      margin-left: 10px;
      width: 100% !important;
      flex-grow: 1 !important;
    }
  }

  .home-row {
    h1 {
      font-size: 36px !important;
    }
  }
}

@media (max-width: 1000px) {
  .hero-top {
    .popular-card1 {
      flex-direction: column;
    }
  }

  .footer-row {
    gap: 20px !important;
    flex-direction: column;
  }
}
@media (max-width: 860px) {
  .left {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .popular-card1 {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .popular-card {
    max-width: 330px;
    flex-direction: column;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 590px) {
  .popular-card1 {
    grid-template-columns: repeat(1, 1fr) !important;
    margin: 0 auto;
  }

  .left {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .like4 {
    display: none !important;
  }
}
@media (max-width: 500px) {
  .home-row {
    flex-direction: column;
    h1 {
      font-size: 24px !important;
    }
  }
  .right {
    img {
      margin-right: 10px;
    }
    p {
      display: none !important;
    }
  }

  .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
